"*":
  "atom-alignment": {}
  "bracket-matcher":
    autocompleteSmartQuotes: false
  core:
    themes: [
      "one-dark-ui"
      "monokai-slate"
    ]
  date: {}
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "54637407-dc39-5669-13b4-c71ec84fe2b9"
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected": {}
  "linter-stylint": {}
  "markdown-preview": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  pigments: {}
  "spell-check": {}
  "stylus-autocompile": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  ignore: [
    '/.meteor'
  ]

".jade.source":
  whitespace:
    removeTrailingWhitespace: true
