"*":
  "autocomplete-js-import":
    importTypes:
      es6: false
    projectDependencies: {}
  "autocomplete-meteor-packages":
    meteorDirLocation: "search"
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn:
        backgroundColor:
          red: 178
          green: 214
          blue: 149
          alpha: 0.75
        borderColor:
          red: 218
          green: 170
          blue: 124
          alpha: 0
      pulseDuration: 200
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".meteor"
      "node_modules"
      "bower_components"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "~/code/"
    themes: [
      "one-dark-ui"
      "monokai-slate"
    ]
  date: {}
  editor:
    fontSize: 8
    invisibles:
      eol: "↴"
      space: "•"
    lineHeight: 1.7
    scrollPastEnd: false
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "54637407-dc39-5669-13b4-c71ec84fe2b9"
  "genesis-ui":
    distractionFree: {}
    treeView: {}
  "git-diff": {}
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    gutterPosition: "Left"
    lintOnFly: false
  minimap:
    displayCodeHighlights: false
    ignoreWhitespacesInTokens: true
    independentMinimapScroll: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
  "one-light-ui":
    fontSize: 12
    layoutMode: "Compact"
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    markerType: "dot"
  "project-folder": {}
  "relative-numbers": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    focusOnReveal: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "{"
    ]
    clearHighlightSearchOnResetNormalMode: true
    flashOnOperateDuration: 200
    flashOnUndoRedoDuration: 200
    highlightSearch: true
    ignoreCaseForSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    showHoverOnOperate: true
    showHoverOnOperateIcon: "none"
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".jade.source":
  whitespace:
    removeTrailingWhitespace: true
