# Type "key" and then hit tab.
#
# https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings

'atom-text-editor':
  'cmd-ctrl-d'   : '!unset'
  'ctrl-j'       : 'core:move-down'
  'ctrl-k'       : 'core:move-up'
  'ctrl-z'       : 'core:undo'
  'cmd-shift-F'  : 'project-find:show'
  'cmd-shift-D'  : 'project-find:show-in-current-directory'
  'ctrl-s'       : 'jgo:normal-mode-on-save'
  'ctrl-,'       : 'editor:outdent-selected-rows'
  'ctrl-.'       : 'editor:indent-selected-rows'

'atom-wrkspace':
  'cmd-shift-C'  : 'merge-conflicts:detect'
  'cmd-shift-X'  : 'merge-conflicts:did-quit-conflict-resolution'

'.platform-darwin atom-text-editor:not([mini])':
  'ctrl-enter': 'tree-view:toggle-focus'

'.platform-darwin':
  'ctrl-cmd-f'       : '!unset'
  'ctrl-enter': 'tree-view:toggle-focus'
  'ctrl-\\'   : 'tree-view:toggle'
  'ctrl-p'    : 'fuzzy-finder:toggle-file-finder'

'.select-list.fuzzy-finder .editor':
  'escape'    : 'core:cancel'

'.platform-darwin, .platform-darwin .command-palette atom-text-editor':
  'cmd-ctrl-p': 'command-palette:toggle'

'atom-text-editor[mini]':
  'ctrl-h': 'core:move-left'
  'ctrl-l': 'core:move-right'

'.tree-view':
  'D' : 'tree-view:remove'
  'r' : 'tree-view:rename'
  'x' : 'tree-view:cut'
  'v' : 'tree-view:paste'
  'c' : 'tree-view:copy'
  'ctrl-k': 'core:move-to-top'
  'ctrl-j': 'core:move-to-bottom'
  'ctrl-l': 'tree-view:recursive-expand-directory'
  'ctrl-h': 'tree-view:recursive-collapse-directory'

'.platform-darwin atom-text-editor.vim-mode-plus':
  'ctrl-shift-P': 'clipboard-plus:toggle'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-]'  : 'unset!'
  'ctrl-['  : 'unset!'
  'shift-A' : 'vim-mode-plus:insert-after-end-of-line'
  's'       : 'vim-mode-plus:surround'
  's w'     : 'vim-mode-plus:surround-word'
  's W'     : 'vim-mode-plus:surround-smart-word'
  'm s'     : 'vim-mode-plus:map-surround'
  'd s'     : 'vim-mode-plus:delete-surround-any-pair'
  'c s'     : 'vim-mode-plus:change-surround-any-pair'
  'ctrl-k'  : 'jgo:insert-newline-above-stay-normal'
  'ctrl-j'  : 'jgo:insert-newline-below-stay-normal'
  ')'       : 'jgo:insert-before-first-character-of-line'
  'shift-)' : 'vim-mode-plus:move-to-first-character-of-line'
  'ctrl-0'  : 'vim-mode-plus:move-to-beginning-of-line'

'atom-text-editor.vim-mode-plus.visual-mode':
  's': 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-x'  : 'unset!'
  ':'      : 'ex-mode:open'
  'ctrl-=' : 'vim-mode-plus:increase'
  'ctrl--' : 'vim-mode-plus:decrease'
  'right'            : '!unset'
  'left'             : '!unset'
  'down'             : 'jgo:insert-newline-below-stay-normal'
  'up'               : 'jgo:insert-newline-above-stay-normal'

'.find-and-replace, .project-find, .project-find':
  'ctrl-c': 'core:cancel'

'body':
  # 'right'            : '!unset'
  # 'left'             : '!unset'
  # 'down'             : '!unset'
  # 'up'               : '!unset'
  'ctrl-alt-cmd-r'   : 'window:reload'
  'ctrl-]'           : 'pane:show-next-item'
  'ctrl-['           : 'pane:show-previous-item'
  'ctrl-cmd-s'       : 'window:save-all'
  'ctrl-cmd-w'       : 'window:close'
  'ctrl-/'           : 'editor:toggle-line-comments'
  'ctrl-cmd-shift-l' : 'jgo:go-light'
  'ctrl-cmd-shift-d' : 'jgo:go-dark'
  'ctrl-k'           : 'core:move-up'
  'ctrl-j'           : 'core:move-down'
  'ctrl-h'           : 'core:move-left'
  'ctrl-l'           : 'core:move-right'
