# Type "key" and then hitting tab.
#
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings

'body':
  'ctrl-s':     'jgo:normal-mode-on-save'
  'ctrl-]':     'pane:show-next-item'
  'ctrl-[':     'pane:show-previous-item'
  'ctrl-cmd-s': 'window:save-all'

'.tree-view':
  'D': 'tree-view:remove'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-]' : 'unset!'
  'ctrl-[' : 'unset!'
  's'      : 'unset!'
  'shift-A': 'vim-mode-plus:insert-after-end-of-line'
  's'      : 'vim-mode-plus:surround'
  's w'    : 'vim-mode-plus:surround-word'
  'm s'    : 'vim-mode-plus:map-surround'
  'd s'    : 'vim-mode-plus:delete-surround-any-pair'
  'c s'    : 'vim-mode-plus:change-surround-any-pair'

'atom-text-editor.vim-mode-plus.visual-mode':
  's'      : 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ':': 'ex-mode:open'

'atom-text-editor.vim-mode-plus-input-char-waiting':
  's': 'unset!'

'atom-text-editor.vim-mode-plus.visual-mode':
  's': 'unset!'
