# Type "key" and then hitting tab.
#
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings

'atom-text-editor':
  'ctrl-j' : 'core:move-down'
  'ctrl-k' : 'core:move-up'
  'ctrl-z' : 'core:undo'

'.platform-darwin':
  'ctrl-enter': 'tree-view:toggle-focus'

'atom-text-editor[mini]':
  'ctrl-h': 'core:move-left'
  'ctrl-l': 'core:move-right'

'body':
  'ctrl-p'           : 'unset!'
  'ctrl-alt-cmd-r'   : 'window:reload'
  'ctrl-s'           : 'jgo:normal-mode-on-save'
  'ctrl-]'           : 'pane:show-next-item'
  'ctrl-['           : 'pane:show-previous-item'
  'ctrl-cmd-s'       : 'window:save-all'
  'ctrl-cmd-w'       : 'window:close'
  'ctrl-,'           : 'editor:outdent-selected-rows'
  'ctrl-.'           : 'editor:indent-selected-rows'
  'ctrl-/'           : 'editor:toggle-line-comments'
  'ctrl-cmd-shift-l' : 'jgo:go-light'
  'ctrl-cmd-shift-d' : 'jgo:go-dark'

'.tree-view':
  'D' : 'tree-view:remove'
  'r' : 'tree-view:rename'
  'x' : 'tree-view:cut'
  'p' : 'tree-view:paste'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-]'  : 'unset!'
  'ctrl-['  : 'unset!'
  's'       : 'unset!'
  'shift-A' : 'vim-mode-plus:insert-after-end-of-line'
  's'       : 'vim-mode-plus:surround'
  's w'     : 'vim-mode-plus:surround-word'
  'm s'     : 'vim-mode-plus:map-surround'
  'd s'     : 'vim-mode-plus:delete-surround-any-pair'
  'c s'     : 'vim-mode-plus:change-surround-any-pair'
  'ctrl-k'  : 'jgo:insert-newline-above-stay-normal'
  'ctrl-j'  : 'jgo:insert-newline-below-stay-normal'
  ')'       : 'vim-mode-plus:move-to-first-character-of-line'

'atom-text-editor.vim-mode-plus.visual-mode':
  's': 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-x'  : 'unset!'
  ':'      : 'ex-mode:open'
  'ctrl-=' : 'vim-mode-plus:increase'
  'ctrl--' : 'vim-mode-plus:decrease'

'atom-text-editor.vim-mode-plus-input-char-waiting':
  's': 'unset!'

'atom-text-editor.vim-mode-plus.visual-mode':
  's': 'unset!'

'.platform-darwin atom-text-editor.vim-mode-plus':
  'ctrl-p': 'clipboard-plus:toggle'
