packages: [
  "advanced-new-file"
  "atom-alignment"
  "atom-increment"
  "atom-jade"
  "atom-material-syntax"
  "autocomplete-js-import"
  "autocomplete-meteor-packages"
  "autocomplete-modules"
  "block-cursor"
  "clipboard-plus"
  "cucumber"
  "danikai-light-syntax"
  "date"
  "emmet"
  "ex-mode"
  "file-icons"
  "genesis-syntax"
  "genesis-ui"
  "git-diff-details"
  "git-difftool"
  "git-log"
  "git-time-machine"
  "highlight-line"
  "highlight-selected"
  "jade-bootstrap3-snippets"
  "javascript-snippets"
  "js2coffee"
  "language-applescript"
  "language-javascript-jsx"
  "line-diff-details"
  "linter"
  "linter-coffeelint"
  "linter-jade"
  "linter-stylint"
  "merge-conflicts"
  "monokai-slate"
  "package-sync"
  "pigments"
  "project-folder"
  "relative-numbers"
  "snippets-jade"
  "sort-lines"
  "split-diff"
  "Stylus"
  "synced-sidebar"
  "tabs-to-spaces"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
]
