packages: [
  "advanced-new-file"
  "atom-alignment"
  "atom-increment"
  "atom-jade"
  "atom-monokai"
  "date"
  "emmet"
  "file-icons"
  "git-diff-details"
  "git-difftool"
  "highlight-selected"
  "linter"
  "linter-coffeelint"
  "linter-jade"
  "linter-stylint"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "monokai-dark"
  "monokai-slate"
  "one-dark-vivid-syntax"
  "package-sync"
  "pigments"
  "predawn-twilight"
  "predawn-ui"
  "Stylus"
  "tabs-to-spaces"
]
