packages: [
  "advanced-new-file"
  "alignment"
  "atom-alignment"
  "atom-increment"
  "atom-jade"
  "atom-material-syntax"
  "atom-monokai"
  "block-cursor"
  "clipboard-plus"
  "color-picker"
  "date"
  "emmet"
  "ex-mode"
  "expose"
  "file-icons"
  "git-diff-details"
  "git-difftool"
  "git-log"
  "git-time-machine"
  "highlight-line"
  "highlight-selected"
  "jade-bootstrap3-snippets"
  "javascript-snippets"
  "language-applescript"
  "line-diff-details"
  "linter"
  "linter-coffeelint"
  "linter-coffeescript"
  "linter-jade"
  "linter-stylint"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-selection"
  "monokai-dark"
  "monokai-slate"
  "one-dark-vivid-syntax"
  "package-sync"
  "pigments"
  "predawn-twilight"
  "predawn-ui"
  "project-folder"
  "relative-numbers"
  "snippets-jade"
  "split-diff"
  "Stylus"
  "synced-sidebar"
  "tabs-to-spaces"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-surround"
]
