@pane-BG:          hsla(53, 17%, 10%, 1.00);
@pane-BG-dark:     darken(@pane-BG, 2%);
@selected:         rgba(131, 131, 131, .1);
@tree-selected:    @selected;
@gutter-selection: @selected;
@highlight:        hsla(35, 85%, 71%, 1.00);
@selection:        @selected;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

atom-text-editor {
  color: white;
  background-color: @pane-BG;
}
atom-pane-container atom-pane .item-views .pane-item,
.settings-view > .panels,
.settings-view .config-menu,
.atom-pane {
  background-color: @pane-BG;
}

atom-pane-container atom-pane {
  padding-top: 0;
}

.tree-view {
  background-color: @pane-BG;
}

.tree-view .selected:before {
  background-color: @tree-selected;
}

.tab-bar {
  height: 2.75em;
  background-color: @pane-BG;
  .tab::before {
    width: 100%;
    top: 0;
    height: 1px;
    background-color: @highlight;
  }
  .tab {
    background: @pane-BG-dark;
    height: 2.75em;
    line-height: 2.75em;
    .title {
      background-color: @pane-BG-dark;
    }
  }
}

#status-bar-vim-mode {
  display: none;
}

atom-text-editor.vim-mode-plus.normal-mode.is-focused::shadow .cursor,
atom-text-editor.vim-mode-plus.normal-mode.is-focused .cursor{
  background-color: @highlight;
  opacity: .75;
}

atom-text-editor.vim-mode-plus.visual-mode.is-focused::shadow .cursor,
atom-text-editor.vim-mode-plus.visual-mode.is-focused .cursor {
  background-color: @selection;
  opacity: .75;
}

atom-text-editor::shadow .selection .region,
:host .selection .region {
  background-color: @selection;
  z-index: -1;
}

atom-text-editor::shadow .highlight.find-result .region {
  background: @selection;
}

atom-text-editor::shadow .line-number.cursor-line-no-selection,
atom-text-editor::shadow .gutter .cursor-line,
:host .line-number.cursor-line-no-selection,
:host .gutter .cursor-line {
  background-color: @gutter-selection;
}

atom-text-editor::shadow .gutter {
  background-color: @pane-BG-dark;
  border-right: 1px solid hsla(60, 5%, 9%, 1.00);
  &:last-of-type{
    display: none;
    border-right: 1px solid hsla(60, 5%, 9%, 1.00);
  }
  .line-number {
    color: hsla(53, 9%, 29%, 1.00);
    margin: 0;
    background-color: @pane-BG-dark;
  }
}

atom-text-editor::shadow .gutter .line-numbers {
  margin: 0;
  .line-number {
    &.cursor-line {
      background-color: @selection;
    }
  }
}
