@pane-BG:          hsla(60, 11%, 11%, 1.00);
@selected:         rgba(131, 131, 131, .2);
@tree-selected:    @selected;
@gutter-selection: @selected;
@highlight:        hsla(35, 85%, 71%, 1.00);
@selection:        @selected;

atom-text-editor {
  color: white;
  background-color: @pane-BG;
}

.atom-pane {
  background-color: @pane-BG;
}

atom-pane-container atom-pane {
  padding-top: 0;
}

.tree-view {
  background-color: @pane-BG;
}

.tree-view .selected:before {
  background-color: @tree-selected;
}

.tab-bar .tab::before {
  width: 100%;
  top: 0;
  height: 1px;
  background-color: @highlight;
}

.tab-bar .tab {
  height: 2.75em;
  line-height: 2.75em;
}

.tab-bar {
  height: 2.75em;
}

#status-bar-vim-mode {
  display: none;
}

atom-text-editor.vim-mode-plus.normal-mode.is-focused::shadow .cursor,
atom-text-editor.vim-mode-plus.normal-mode.is-focused .cursor{
  background-color: @highlight;
  opacity: .75;
}

atom-text-editor.vim-mode-plus.visual-mode.is-focused::shadow .cursor,
atom-text-editor.vim-mode-plus.visual-mode.is-focused .cursor {
  background-color: @selection;
  opacity: .75;
}

atom-text-editor::shadow .selection .region,
:host .selection .region {
  background-color: @selection;
  z-index: -1;
}

atom-text-editor::shadow .highlight.find-result .region {
  background: @selection;
}

atom-text-editor::shadow .line-number.cursor-line-no-selection,
atom-text-editor::shadow .gutter .cursor-line,
:host .line-number.cursor-line-no-selection,
:host .gutter .cursor-line
{
  background-color: @gutter-selection;
}

atom-text-editor::shadow .gutter {
  // opacity: .2;

}
